@media (min-width:320px) and (max-width: 1024px) {
    #conteudo{
        #produtos{
            .produto{
                grid-template-areas: 'titulo'
                                        'img'
                                        'desc'
                                        'btn' !important;

                @media (min-width:720px) and (max-width:1024px) {}

            .titulo-produto,
            .descricao-produto,
            .btn-compra{margin: 0 25px ;}

                .titulo-produto{
                    position: relative;
                    font-size: 3.1875em;
                }

                .detalhe{width: 80vw;}

                &:nth-child(3){.titulo-produto{
                    font-size: 1.9375em !important; width: 275px;
                }}

                .descricao-produto{
                    max-width: 325px;
                }

                .btn-compra{
                 margin-top: 25px;   
                }

                .area-img{
                    margin: 25px auto !important;
                    width: 192.64px;height:275px;

                    &::before{
                        width:192.64px;height: 192.64px;
                    }

                    .imagem-produto{
                        position: relative;
                        height: 240.81px;
                        transform: rotate(15deg);
                    }
                }

                &:nth-child(2){
                    margin: 75px 0;

                    .titulo-produto{
                        float: right;
                    }
                }
            }
        }

        #curso{
            padding: 50px 0;
            text-align: center;

            .titulo-curso, .sub-titulo-curso{
                font-size: 1.9375em;
                max-width: 325px;
            }

            .sub-titulo-curso{
                font-size: 1.125em;
                margin: 25px 0 50px 0;
            }

            #cadastro{
                @include flex();flex-direction: column;
                width: 100%;
                padding: 0 25px;

                input{
                    margin: 0 !important;
                    padding-left: 15px;
                    width: 100%;max-width: 350px;height: 45px;
                    background: rgba($color: $verde, $alpha: 1.0);
                    border: none;border-radius: 10px;

                    &:nth-child(1){margin-bottom: 15px !important;}
                }
            }

            >.destaque{margin-top: 15px;}
        }
    }
}