@font-face{
    font-family: 'Cera Pro';
    src: url('cerapro/Cera\ Pro\ Light.otf');
    font-weight: 300;
}

@font-face{
    font-family: 'Cera Pro';
    src: url('cerapro/Cera\ Pro\ Medium.otf');
    font-weight: 500;
}

@font-face{
    font-family: 'Cera Pro';
    src: url('cerapro/Cera\ Pro\ Bold.otf');
    font-weight: 600;
}

@font-face{
    font-family: 'Medhurst';
    src: url('medhurst/Medhurst-regular.ttf');
    font-weight: 400;
}